﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage<MasterModel>" %>
<%@ Import Namespace="FinalProject.Models" %>

<!DOCTYPE html>
<html lang="en">
    <head runat="server">
        <meta charset="utf-8" />
        <title><%: Page.Title ?? "Jacob Trimble" %></title>

        <%: Styles.Render("~/Content/css") %>
        <asp:ContentPlaceHolder ID="ScriptsSection" runat="server" />
    </head>
    <body>
        <div id="gradiant">
            <div class="content-wrapper">
                <header>
                    <div id="top-bar">
                    </div>
                    <div id="site-title">
                        <p><%: Html.ActionLink("Jacob Trimble", "Index", "Home") %></p>
                    </div>
                    <nav>
                        <%: Html.ActionLink("Home", "Index", "Home", null, Model.CurrentLink == 0 ? new { @class = "current-link" } : null)%>
                        <%: Html.ActionLink("Examples", "Index", "Examples", null, Model.CurrentLink == 1 ? new { @class = "current-link" } : null)%>
                        <%: Html.ActionLink("Blog", "Index", "Blog", new { year = UrlParameter.Optional, month = UrlParameter.Optional, name = UrlParameter.Optional }, Model.CurrentLink == 2 ? new { @class = "current-link" } : null)%>
                   </nav>
                </header>
                <div id="body">
                    <section class="main-content clear-fix">
                        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                    </section>

                    <% if (!Model.HideSidebar) { %>
                        <aside>
				            <div>
					            <h2>Archive</h2>
					            <ul>
                                    <% foreach (var link in Model.Archive) { %>
                                        <li>
                                            <%: Html.ActionLink(string.Format("{0} {1}", (Months)link.Month, link.Year), "Index", "Blog", 
                                            new { year = link.Year, month = link.Month, name = "" }, null) %> 
                                            (<%: link.Count %>)
                                        </li>
                                    <% } %>
					            </ul>
				            </div>
				            <div>
					            <h2>Links</h2>
					            <ul>
                                    <% foreach (var item in Model.RemoteLinks) { %>
                                        <li><a href="<%: item.Href %>" target="_blank"><%: item.Text %></a></li>
                                    <% } %>
					            </ul>
				            </div>
                        </aside>
                    <% } %>
                </div>
                <footer>
				        <div id="copyright">
					        <p><a href="/">Copyright &copy; 2013 ModMaker</a></p>
	                        <p><a href="http://www.arvixe.com/asp_net_web_hosting" target="_blank">ASP.NET Web Hosting</a> By Arvixe</p>
	                    </div>
	                    <div id="developer">
	                        <p>
                                <%: Html.ActionLink("ModMaker Productions", "Index", "Home") %> uses 
                                <a href="http://www.khairul-syahir.com/wordpress-dev/graphene-theme" target="_blank">Graphene</a> theme by Syahir Hakim.
	                        </p>
	                    </div>
                </footer>
            </div>
         </div>
    </body>
</html>