﻿
/* hack for HTML5 elements in older browsers */
header, section, footer, aside, nav, article, figure { 
    display: block; 
}
html, body {
	margin: 0px;
	padding: 0px;
	border: 0px none;
}
body {
	background: url("/Content/themes/graphene/images/bg_g.png") repeat #000 fixed;
	font: 12px arial;
}
iframe {
    margin: 25px 0px;
    display: block;
}
a, a:visited {
	color: #1772af;
	text-decoration: none;
}
a:hover {
	color: #074d7c;
	text-decoration: none;
}
#gradiant {
	background: url("/Content/themes/graphene/images/bg-gradient.png") left bottom repeat-x fixed;
	position: relative;
	width: 100%;
	height: 100%;	
}
.content-wrapper {
	box-shadow: 0 0 10px #000;
	margin: 0 auto;
	width: 960px;
}
.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*====================================================================================
 *  Header
 */
header #top-bar {
	background: url("/Content/themes/graphene/images/sprite_h.png") left -196px repeat-x #000;
	border-bottom:1px solid #222;
	height: 54px;
	position: relative;
}
#rss {
	padding: 13px 0 0 23px;
	float: left;
}
#rss a {
	background: url("/Content/themes/graphene/images/sprite_master.png") left top no-repeat;
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 10px;
}
#rss span {
	display: none;
}

#search-area {
	float: right;
	margin-top: 15px;
	width: 210px;	
}
#search-area input {
	border: none;
	color: gray;
	display: block;
	float: left;
	padding: 3px 7px 2px 5px;
	width: 148px;
	height: 17px;
}
#search-area button {
	background: url("/Content/themes/graphene/images/sprite_master.png") -38px top no-repeat;
	border: 0px none;
	margin-left: 10px;
	width: 23px;
	height: 23px;
	cursor: pointer;
	display: block;
	float:left;
}
#search-area button > span {
	display: none;	
}

#site-title {
	background-color: #000;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url("/Content/themes/graphene/images/header.png");
	border-top: 1px solid #000;
	width: 100%;
	height: 200px;
}
#site-title p {
	padding-left: 38px;
	font: bold 28px "Trebuchet MS";
	font-size: 28px;
	font-weight: bold;
	margin-top: 80px;
}
#site-title a {
	color: white;
}


/*====================================================================================
 *  Navigation
 */
nav {
	background: url("/Content/themes/graphene/images/sprite_h.png") left top repeat-x gray;
	padding-top: 12px;
	width: 100%;
	height: 46px;
}
    nav a,
    nav a:visited {
	    float: left;
	    margin-left: 5px;
	    color: #dfedff;
	    line-height: 24px;
	    padding: 0 6px;
    }
    nav a:hover,
    nav a.current-link,
    nav a.current-link:visited {
        color: #000;
    }
    nav a:hover,
    nav a.current-link {
	    background: url("/Content/themes/graphene/images/sprite_h.png") left -66px repeat-x;
    }
/* TODO: Make nested lits? */


/*====================================================================================
 *  Content
 */
#body {
	background: #e3e3e3;
	border-top: 21px solid #e3e3e3;
	overflow: hidden;
	padding-bottom: 40px;
 }
 .main-content {
 	float: left;
 	width: 675px;
 }
 article {
 	background-color: white;
 	border-radius: 0px 30px 0px 0px;
 	border-bottom: solid 1px #d8d8d8;
 	padding: 10px 20px;
 	margin-bottom: 5px;
 	overflow: hidden;
 }
     article:after {
        clear: both;
        content: "";
        display: block;
        border-bottom: 1px solid #d8d8d8;
        margin: 25px 0px;
    }
    article h1,
    article h2 {
 	    border-bottom: 1px solid #e3e3e3;
	    font: 18px arial;
	    padding-bottom: 5px;
    }
    article p,
    article li {
 	    line-height: 18px;
    }
    article ul li {
 	    list-style-image: url("/Content/themes/graphene/images/list-style-image.png");
 	    margin-bottom: 5px;
    }

     article .post-date {
 	    background: url("/Content/themes/graphene/images/sprite_master.png") -325px top no-repeat;
 	    float: left;
 	    margin: 15px 0px;
	    width: 45px;
	    height: 65px;

	    color: #e3e3e3;
	    font: normal 12px tahoma;
	    line-height: 22px;
	    text-align: center;
     }
     article .post-date span {
 	    display: block;
     }
     article .post-date .day {
	    color: #2c2b2b;
	    font-size: 18px;
     }
     article .post-date .year {
	    color: black;
	    font-size: 11pt;
        line-height: 26px;
     }
     article .post-content {
 	    float: left;
 	    width: 560px;
 	    margin-left: 15px;
     }
     article .post-meta {
 	    margin: 0px;
 	    margin-top: -10px;
 	    overflow: hidden;
	    font: normal 11px tahoma;
	    line-height: 18px;
     }
     article .post-meta .categories {
 	    float: left;
 	    list-style: none;
 	    margin: 0px;
 	    padding: 0px;
	    background: url("/Content/themes/graphene/images/sprite_master.png") left -85px no-repeat;
	    max-width: 60%;
	    padding-left: 15px;
     }
     article .post-meta .categories li {
 	    display: inline;
	    padding-left: 5px;
     }
     article .post-meta .author {
 	    float: right;
 	    margin: 0px;
     }
.category {
    background: #2070B7;
    background: linear-gradient(left top, #0F2D4D, #2880C3);
    background: -moz-linear-gradient(left top, #0F2D4D, #2880C3);
    background: -webkit-gradient(linear, left top, right bottom, from(#0F2D4D), to(#2880C3));
    -pie-background: linear-gradient(left top, #0F2D4D, #2880C3);

    color: #e3e3e3;
    font-size: 16px;
    margin: 0 auto 10px;
    padding: 8px 0;
    text-align: center;
}
    .category span {
        color: white;
    }
.page-nav {
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: 5px;
}
    .page-nav .left {
        float: left;
    }
    .page-nav .right {
        float: right;
    }

     
/*====================================================================================
 *  Comments
 */
 .comment-link {
 	font: normal 18px arial;
 	text-align: right;
 	margin-bottom: 5px;
 }
.comments > h2 {
 	background: url("/Content/themes/graphene/images/sprite_master.png") -880px 6px no-repeat;
	clear: both;
	color: #929292;
	font: normal 20px arial;
	margin: 20px 0 5px 24px;
	padding-left: 25px;
}
article.comment {
 	background-color: #e9ecf5;
}
    article.comment:after {
        display: none;
    }
    article.comment > img {
        float: left;
        margin-top: 15px;
    }
    article.comment > div {
        float: left;
        margin-left: 15px;
        width: 90%;
    }
    article.comment > div > h3 {
        border-bottom: 1px solid #d5d3d3;
        color: #2c2b2b;
        font: normal 14px arial;
        margin-bottom: 0px;
        line-height: 24px;
        width: 100%;
    }
    div.comment-date {
        margin-top: 3px;
        color: #6b6b6b;
        font: normal 11px arial;
    }


/*====================================================================================
 *  Reply
 */
.reply h2 {
	background: url("/Content/themes/graphene/images/sprite_master.png") -880px -17px no-repeat;
	color: #929292;
	font: normal 20px arial;
	margin: 20px 0 5px 24px;
	padding-left: 25px;
}
.reply article {
 	background-color: #eee;
}
.reply article:after {
    display: none;
}
.reply form input,
.reply form textarea {	
 	border: 1px solid #e3e3e3;
	color: #2c2b2b;
	font: normal 12px arial;
	padding: 4px 3px;
	width: 475px;
	height: 16px;
}
.reply form textarea {
	border: 1px solid #e3e3e3;
	height: 175px;
	max-width: 475px;
}
.reply form p {
	clear: both;
	color: #606060;
	font: normal 12px arial;
	vertical-align: middle;
	margin: 2px 0px;
}
.reply form > p:first-child {
	margin-bottom: 20px;
}
.reply form label {
	vertical-align: top;
	display: inline-block;
	padding-top: 4px;
	width: 71px;
	height: 28px;
}
    #reply-submit-area {
	    margin-left: 71px;
	    width: 75%;
    }
    #reply-submit-area p {
	    margin: 0px;
	    font-size: 11px;
    }
.reply form code {
	color: #808080;
	display: block;
	font-size: 11px;
}
.reply form input[type="submit"] {
 	background: #2982C5;
 	background: linear-gradient(#2982C5, #1C5FA5);
 	color: #e3e3e3;
	width: 250px;
	height: 50px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 20px;
	font-size: 16px;
	box-shadow: 0 0 5px #555;
 }
 .reply form input[type="submit"]:hover {
 	background: #1C5FA5;
 	background: linear-gradient(#2982C5, #15467A);
 }
.invalid:after {
    content: "*";
    color: red;
    display: inline;
    margin-left: 5px;
}
.error {
    color: red;
}
.reply li {
    list-style-image: none;
}
.label {
    display: inline-block;
    width: 75px;
    vertical-align: central;
    padding: 5px;
    float: left;
}
.box {
    margin: 15px;
    padding: 10px;
    border: 2px black solid;
    background-color: lightgray;
}

 
/*====================================================================================
 *  Sidebar
 */
aside {
	float: left;
	width: 280px;
}
    aside > div {
	    margin: 0px 20px;
	    background: #fff;
	    border: 1px solid #ccc;
	    box-shadow: 0 0 5px #BBB;
	    margin-bottom: 16px;
	    margin-top: 10px;
    }
    aside > div h2 {
	    background: linear-gradient(#3C9CD2, #1F6EB6);
	    color: white;
	    margin: 0px;
	    margin-top: -10px;
	    padding: 5px 10px;
	    border: 1px solid #3C9CD2;
	    border-radius: 5px 5px 0px 0px;
    }
    aside > div ul {
	    padding: 0px;
    }
    aside > div ul li {
	    list-style: none;
	    margin: 0px 10px 8px 15px;
	    padding-bottom: 8px;
	    border-bottom: 1px solid #ccc;
    }
    
/*====================================================================================
 *  Footer
 */
 footer {
	background: url("/Content/themes/graphene/images/sprite_h.png") left -117px repeat-x #000;
	clear: both;
	overflow: hidden;
	box-shadow: 0 -3px 5px 0 #000000;

	font: normal 11px tahoma;
	color: #abb1aa;
 }
     footer a,
     footer a:visited {
 	    color: white;
	    text-decoration: none;
     }
    footer a:hover {
 	    color: white;
	    text-decoration: underline;
    }
 #copyright {
 	float: left;
 	margin: 10px;
 	margin-left: 20px;
 }
 #copyright p { 	
 	margin: 0px;
 }
 #developer {
 	float: right;
 	margin-right: 10px;
 }